.counter{
    background-color: #fbfbfb;
    padding: 20px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.counter-area{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.counter-place{
    width: calc(25% - 10px);
    position: relative;
    background-color: #f368e073;
    padding: 20px;
    margin-bottom: 50px;
    border: 3px solid #6ab04c;
    border-radius: 50% 50% 20px 20px;
}
.counter-place i{
    font-weight: 900;
    font-size: 30px;
    color: #222;
    background-color: #6ab04c;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 50%,25% 93%,75% 93%,100% 50%,75% 7%,25% 7%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.counter-number{
    margin-top: 30px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #f368e0;
}

.counter-text{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #555;
}

@media(max-width:1000px){
    .counter-place{
        width: calc(50% - 20px);
    }
}
@media(max-width:800px){
    .counter{
        padding: 0;
    }
    .counter-place{
        width: 100%;
        padding: 25px;
    }
}